{% extends 'e-commerce/index.html'%}
{% load static %}

{% block body %}

<section class="content">
    <div class="alert alert-warning" role="alert">
        <h2 class='text-center'><b>Muchas gracias por contactarnos...</b></h2>
        <h3 class="alert-heading">El mensaje se envió con éxito!</h3>
        <p>Le responderemos a la brevedad con mucha atención a su consulta.</p>
        <hr>
        <p class="mb-0">Recuerde revisar su correo basura en caso de no ver nuestra respuesta en su bandeja de entrada.</p>
      </div>
</section>

{% endblock %}