{% extends 'e-commerce/index.html' %} {% load static %} {% block body %}

<section class="content">
  {% for comic in page_obj %}
  <div class="card card-solid">
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="col-12">
            <a href="detail?marvel_id={{comic.marvel_id}} ">
            <img
              src="{{comic.picture}}"
              class="product-image"
              alt="Product Image"
            /></a>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <h3 class="my-3">{{comic.title}}</h3>
          {% if comic.description %}
          <p>{{comic.description}}</p>
          {% else %}
          <p>Descripción no disponible</p>
          {% endif %}
          <hr />

          <div class="bg-gray py-2 px-3 mt-4">
            <h2 class="mb-0">USD$ {{comic.price}}</h2>
            <h4 class="mt-0">
              <small>Stock disponible: {{comic.stock_qty}} </small>
            </h4>
          </div>

          <div class="bg-red py-2 px-3 mt-4">
          <a href="detail?marvel_id={{comic.marvel_id}}">Ver mas detalles aquí</a>
          </div>

          <div class="bg-green py-2 px-3 mt-4">
            <i class="fas fa-wifi mr-2"></i>
            Seguinos en nuestras redes
          </div>
         
          <div class="mt-4 product-share">
            <a href="#" class="text-gray">
              <i class="fab fa-facebook-square fa-2x"></i>
            </a>
            <a href="#" class="text-gray">
              <i class="fab fa-twitter-square fa-2x"></i>
            </a>
            <a href="#" class="text-gray">
              <i class="fas fa-envelope-square fa-2x"></i>
            </a>
            <a href="#" class="text-gray">
              <i class="fas fa-rss-square fa-2x"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

  <nav aria-label="...">
    <span class="step-links">
      {% if page_obj.has_previous %}
      <ul class="pagination">
        <li class="page-item disabled">
          <a href="?page={{ page_obj.previous_page_number }}">
            <span class="page-link">Anterior</span></a
          >
        </li>
        {% endif %}

        <li class="page-item active">
          <span class="page-link">
            Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
          </span>
        </li>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">
          <span class="page-link">Siguiente</span></a
        >
      </ul>
      {% endif %}
    </span>
  </nav>
</section>

{% endblock %}
