{% load static %} {% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Registro</title>

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"
    />

    <link
      rel="stylesheet"
      href="{% static 'plugins/fontawesome-free/css/all.min.css' %}"
    />

    <link
      rel="stylesheet"
      href="{% static 'plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}"
    />

    <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}" />
  </head>
  <body class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <p><b>E-commerce</b> Marvel</p>
      </div>

      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">Registro de nuevo usuario</p>

          <form action="#" method="post">
            {% csrf_token %} {{ form | crispy }}
            <div class="row">
              <div class="col-8"></div>

              <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block btn-sm">
                  Registrarse
                </button>
              </div>
            </div>
          </form>

          <div class="social-auth-links text-center mb-3">
            <p>- O -</p>
            <a href="#" class="btn btn-block btn-primary">
              <i class="fab fa-facebook mr-2"></i> Inicia Sesion con Facebook
            </a>
            <a href="#" class="btn btn-block btn-danger">
              <i class="fab fa-google-plus mr-2"></i> Inicia Sesion con Google
            </a>
          </div>
          <p class="mb-1">
            <a href="{% url 'login' %}">Ya tienes una cuenta? inicia sesion</a>
          </p>
        </div>
      </div>
    </div>

    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>

    <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'dist/js/adminlte.min.js' %}"></script>
  </body>
</html>
