<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Reset Password</title>

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"
    />

    <link
      rel="stylesheet"
      href="{% static 'plugins/fontawesome-free/css/all.min.css' %}"
    />

    <link
      rel="stylesheet"
      href="{% static 'plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}"
    />

    <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}" />
  </head>
  <body class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href="#"><b>E-commerce</b> Marvel</a>
      </div>

      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">Recupera tu Contraseña</p>
          <p class="login-box-msg">Ingresa tu email y te enviaremos un link</p>

          <form action="{% url 'reset-passw' %}" method="post">{% csrf_token %}
            {% include 'e-commerce/messages.html' %}
            <div class="input-group mb-3">
              <input type="email" class="form-control" placeholder="Ingresa tu Email" name="email" value="{{values.email}}">
              <div class="input-group-append">
              <div class="input-group-text">
              <span class="fas fa-envelope"></span>
              </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block">
                  Enviar
                </button>
              </div>
            </div>
          </form>

          <p class="text-center mt-2" style="font-size: 13px;">
            Si deseas volver al login da un click <a
              href="{% url 'login' %}">aqui </a>
          </p>
        </div>
      </div>
    </div>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if messages %}
    {% for m in messages %}
    <script>
      Swal.fire({
          
          'text': '{{m}}',
          
        })
    </script>
    {% endfor %}
    {% endif %}

    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>

    <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'dist/js/adminlte.min.js' %}"></script>
  </body>
</html>
