{% extends 'e-commerce/index.html'%}
{% load static %}
{% load crispy_forms_tags %}


{% block body %}

<section class="content">
  <div class="container-fluid">
  <div class="row">
  
  <div class="col-md-12">
  
  <div class="card card-primary">
  <div class="card-header">
   <h3 class="card-title">Editar <small>Perfil</small></h3>
  </div>
  
  
  <form method="post" id="quickForm" enctype="multipart/form-data">{% csrf_token %}

  <div class="card-body">
    {{ u_form | crispy }}
    {{ p_form | crispy }}
 
  <div class="form-group mb-0">
  <div class="custom-control custom-checkbox">
  <input type="checkbox" name="terms" class="custom-control-input" id="exampleCheck1" required="required">
  <label class="custom-control-label" for="exampleCheck1">Estas seguro de realizar estos cambios?</label>
  </div>
  </div>
  </div>
  
  <div class="card-footer">
  <button type="submit" class="btn btn-primary">Guardar cambios</button>
  </div>
  </form>
  </div>
  
  </div>
  
  
  
  </section>


{% endblock %}